@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: 'Nunito', sans-serif;
}

.bg_gradient{
    @apply bg-gradient-to-t from-slate-900 to-transparent top-0 
  }

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(14 211 207/var(--tw-text-opacity));
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(14 211 207/var(--tw-bg-opacity));
}